/* #region Defaults */
html {
  box-sizing: border-box;
  height: 100%;
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --ff-head: 'Outfit', sans-serif;
  --fw-title:700;
  --fw-sub:400;
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;padding: 0;}

h1,h2,h3,h4,h5,h6,p,a,footer {font-family: var(--ff-head);}

h1,h2,h3,h4,h5,h6 {font-weight: var(--fw-title);color: var(--dark-blue);}

p {font-weight: var(--fw-sub);color: var(--grayish-blue);}
/* #endregion Defaults */

/* #region Styling */
body {
  background: var(--light-gray);
  height: inherit;
  display: grid;
  place-content: center;
  text-align: center;
}

article {
  background: white;
  padding: 1rem;
  max-width: 20rem;
  display: grid;
  gap: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

article {border-radius: 1.125rem;}
article img {
  border-radius: 0.5rem;
  width: 100%;
}

article h1 {
  font-size: 1.375rem;
  line-height: 1.272;
}

article > :last-child {
  margin-block-end: 1rem;
  padding-inline: 0.5rem;
  font-size: 1rem;
  line-height: 1.1875;
}

footer {
  font-size: 0.6875rem;
  position: fixed;
  inset: auto 0 1rem;
}

footer a {color: hsl(228, 45%, 44%);}
/* #endregion Styling */
